# hjkl pane traversal
# 默认的触发按键是 Ctrl B 一段时间不用都忘记了.
# % "可以打开新panel


unbind Up
unbind C-Up
unbind Down
unbind C-Down
unbind Left
unbind C-Left
unbind Right
unbind C-Right

bind -r h  select-pane -L
bind -r C-h  resize-pane -L
bind -r l select-pane -R
bind -r C-l resize-pane -R
bind -r j select-pane -D
bind -r C-j resize-pane -D
bind -r k select-pane -U
bind -r C-k resize-pane -U

unbind C-o
bind -r C-o rotate-window
unbind Space
bind -r Space next-layout             

bind f command-prompt "find-window '%%'"

unbind H
bind -r H swap-pane -U                   
unbind K
bind -r K swap-pane -U                   
unbind L
bind -r L swap-pane -D
unbind J
bind -r J swap-pane -D

set -g repeat-time 20000
