#!/usr/bin/env xdg-open

[Desktop Entry]
#LANG=zh_CN.UTF-8
Encoding=UTF-8
Version=1.0
Type=Application
Name=[i3-add]
Icon=add
Exec=python ./.i3/pyscript/moveworkspace.py 0 --nopaper
StartupNotify=false
StartupWMClass=i3-add 
OnlyShowIn=Unity;
X-UnityGenerated=true

Name[en_NZ]=mangameeya

