#!/usr/bin/env xdg-open

[Desktop Entry]
#LANG=zh_CN.UTF-8
Encoding=UTF-8
Version=1.0
Type=Application
Name=[i3-kill]
Icon=application-exit 
Exec=i3-msg kilL
StartupNotify=false
StartupWMClass=mangameeya.exe
OnlyShowIn=Unity;
X-UnityGenerated=true

Name[en_NZ]=mangameeya

