#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=brightness
Icon=gnome-brightness-applet
Exec=xbacklight -set 30
OnlyShowIn=Unity;
X-UnityGenerated=true
Actions=inc;dec;5;10;20;30;50;


[Desktop Action inc]
Name=inc
Exec=xbacklight -inc 5
OnlyShowIn=Unity;

[Desktop Action dec]
Name=dec
Exec=xbacklight -dec 5
OnlyShowIn=Unity;

[Desktop Action 5]
Name=5
Exec=xbacklight -set 5
OnlyShowIn=Unity;

[Desktop Action 10]
Name=10
Exec=xbacklight -set 10
OnlyShowIn=Unity;

[Desktop Action 20]
Name=20
Exec=xbacklight -set 20
OnlyShowIn=Unity;

[Desktop Action 30]
Name=30
Exec=xbacklight -set 30
OnlyShowIn=Unity;

[Desktop Action 50]
Name=50
Exec=xbacklight -set 50
OnlyShowIn=Unity;

