[Desktop Entry]
Type=Application
Terminal=false
Categories=Office;Dictionary;Education;Qt
Name=Eclipse
GenericName=Multiformat Dictionary
Comment=Eclipse
Encoding=UTF-8
Icon=eclipse
Exec=/opt/eclipse/eclipse
