#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=[mangameeya]
Icon=myunity
Exec=./win7/HAP_MangaMeeya740/run.sh
StartupNotify=false
StartupWMClass=mangameeya.exe
OnlyShowIn=Unity;
X-UnityGenerated=true

Name[en_NZ]=mangameeya

