[Desktop Entry]
Type=Application
Terminal=false
Categories=Office;Dictionary;Education;Qt
Name=PyCharm
GenericName=Multiformat Dictionary
Comment=PyCharm
Encoding=UTF-8
Icon=pycharm
Exec=/opt/pycharm-community-4.5.4/bin/pycharm.sh
