[Desktop Entry]
Categories=Office;Publishing;
Exec=texstudio %F
GenericName=LaTeX Editor
GenericName[fr]=Editeur LaTeX
Comment=LaTeX development environment
Comment[fr]=Environnement de développement LaTeX
Icon=texstudio
MimeType=text/x-tex;
Name=TeXstudio
StartupNotify=false
Terminal=false
Type=Application

