[Desktop Entry]
Encoding=UTF-8
Name=Link to Blinn–Phong shading model - Wikipedia, the free encyclopedia
Type=Link
URL=http://en.wikipedia.org/wiki/Blinn%E2%80%93Phong_shading_model
Icon=text-html
