[Desktop Entry]
Encoding=UTF-8
Name=Link to white 3d - Google Search
Type=Link
URL=https://www.google.com/search?q=white+3d&source=lnms&tbm=isch&sa=X&ei=EkcuVJG0KI__8QXnhIH4CQ&ved=0CAgQ_AUoAQ&biw=1184&bih=548
Icon=text-html
